body{
    font-family: 'Roboto', sans-serif;
}
.logo{
    width: 63px;
}
header{
    position: absolute;
    top:0;
    z-index: 1;
    width: 100%;
}
header .nav a{
    color:white;
}

#show-button, #hide-button{
    display: none;
}


.landing-section .card .card-img{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/imgs/IMG_9780.JPG');
    background-position:center center;
    background-size: cover;
    min-height: 100vmin;
}
.landing-section .card-img-overlay{
    width: 50%;
}
.landing-section .card-img-overlay .content{
    position: absolute;
    bottom: 7vw;
}

.summary-section .information img, .summary-section .information .text, .graduates .text{
    width: 50%;
}
.summary-section .information .text, .graduates .text{
    padding-right: 10vw;
}

.the-media{
    background-color: #e6e6e6;
}

.the-media .container img{
    width: 100%;
}


@media only screen and (max-width: 768px){
    header .nav{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 100vw;
        height: 100vh;
    }
    header .nav a{
        color: black;
    }
    header .nav button, 
    header .nav button:hover, 
    header .nav button:active,
    header .nav button:focus{
        background-color: white !important;
        border: 0 !important;
        border-color: white !important;
        color: black !important;
    }
    #show-button, #hide-button{
        display: none;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 20px;
        z-index: 1;
    }
    #show-button{
        display: block;
    }
    .landing-section .card .card-img{
        min-height: 100vmax;
    }
    .landing-section .card-img-overlay{
        padding-top: calc(85vmax/2 + 130px);
        padding-left: 30px;
        width: 60%;
    }
    .summary-section .information img, .summary-section .information .text{
        width: 100%
    }
}
